body {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

img {
  display: block;
  width: 90%;
  max-width: 500px;
  margin-bottom: 1rem;
}

#root {
  width: 85%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}