@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

@theme {
  --font-google-sans: "Google Sans", sans-serif;
}

body {
  @apply w-full bg-slate-200;
}