@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-open-sans: "Open Sans", sans-serif;
}

body {
  @apply w-full font-open-sans bg-slate-900 text-neutral-100;
}

h1 {
  @apply text-center font-bold text-4xl;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

th, td {
  @apply px-3 py-2 border-2 border-slate-50 text-center;
}

button {
  @apply cursor-pointer transition-all duration-150;
}

.closed-cart {
  transform: translateY(200%);
}

.opened-cart {
  transform: translateY(0);
}